/*General*/

html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-size: 1rem;
  color: white;
}

/*Header*/

header {
  background-color: black;
  color: white;
  font-size: 1rem;
}

 .header .container {
   display: flex;
   align-items: center;
   padding: 0.66rem 0 0.66rem 0.5rem;
 }

.header img {
  height: 1.5rem;
  padding-right: 0.5rem;
}

/*New Arrival*/

.new-arrival {
  background-image: url("../moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.new-arrival .container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 25rem;
  position: relative;
  top: 9rem;
  margin: 0 10.75rem 0;
}

.new-arrival .container h1 {
  font-weight: bold;
  padding: 2rem 3rem 0.25rem 3rem;
}

.new-arrival .container h2 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0rem 3rem 2rem 3rem;
}

/*Navigation Bar*/

.navigation {
  background-color: firebrick;
}

.navigation .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem;
}
